Names: Zoey Fang, Divya Nandalall
Our dataset is from Kaggle, and it includes, the image of the flag, country name, continent, area, colors, and the main color of the flad. To get the data set we are using this link: https://www.kaggle.com/datasets/edoardoba/world-flags. We will download the csv from this website that you find by scrolling down.

