<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='countryflag.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='webapp.js') }}"></script>
</head>

<body>
    <div id="header">
        <h1>Flags and Countries</h1>
    </div>

    <div id = "page">
        <div id = "sidebar">
            <div class = "bar">
                  
                <button class="barbutton" id="homebutton">Home</button>
               
            </div>

            <div class = "bar">
                 
                <button class="barbutton" id="mainhuebutton">Get Mainhue</button>
               
            </div>

            <div class ="bar">
               
                 <button class="barbutton" id="filterbutton">Filter Search</button>
             
            </div>
        </div>

        <div id = "content">
            <div id="search">
                <input type = "text" name = "countryname" placeholder="Search" id = "country_name_search">
                <button id = "searchbutton" class = "ccsearch"> Search </button>
            </div>


             <div id = "countryinfo"> 
                <h2 class="cctop">Welcome to the Flags and Countries website! You can search by country and flags using 
                    information about the colors and continent. </h2>
                <img id = "worldmap" src="https://upload.wikimedia.org/wikipedia/commons/1/17/World.svg"> 
            </div>
        </div>
    </div>
    
    

</body>
</html>

