<!DOCTYPE html>
<html>
<head>
    <title>Movie API reference</title>
</head>
<body>
    <pre>Color API: endpoint reference
All responses are in JSON

REQUEST: /
RESPONSE:
    A greeting from this API to you.

REQUEST: /help
RESPONSE:
    This message

REQUEST: /color/{color}
RESPONSE:
    A list of the countries who have that specific color in their flag. 
    Each country has colors associated with it, with a 1 meaning that it’s there and 0 that it’s not there. 
    This returns a list of countries with those colors. 
    </pre>
</body>
</html>

